<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Skracacz linków</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	{{{ body }}}

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>